.Characters{
    width: 100%;
    background-color: #073C3A;
    height: fit-content;
    min-height: 150vh;
}
.content__Char{
    display: flex;
    flex-direction: column;
    padding: 15px 50px;
    background-color: #073C3A;
}
.content__Char h3{
     font-family: 'Secular One';
     font-style: normal;
     font-weight: 400;
     font-size: 40px;
     letter-spacing: 0.01em;
     color: #A2CF50;
     margin-bottom: 20px;
}
.cards__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.card__Characters{
    margin-top: 20px;
    width:320px;
    height: 180px;
    display: flex;
    flex-direction: row;
    background-color: #334E4D;
    border-radius: 10px;
}
.img__card__Characters img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.txt__card__Characters{
    padding: 20px;
}
.characterName{
    font-family:"Poppins";
    font-weight: 500;
    color: #00B5CE;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.1s;
}
.characterName:hover{
    transition: 0.2s;
    color:#A2CF50;
}
.characterSpecies span, .characterGender span, .characterStatus span{
    font-family: 'Poppins';
    font-weight: 400;
    color: #e3e3e3;
    margin-right: 4px;
    font-size: 13px;
}

.characterStatus, .characterSpecies, .characterGender {
    font-family: 'Poppins';
    font-weight: 500;
    color:#fff;
    font-size: 13px;
}
.pagination__Content{
    width:100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading__Chars{
    width:100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #073C3A;
}
