.Header{
    width:100%;
    height: 16vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left__Header, .right__Header{
    width: 25%;
    display: flex;
}
.left__Header .link__Header, .right__Header .link__Header{
    font-family: 'Secular One';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #00B5CE;
    margin: 0 30px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
}
.left__Header .link__Header:hover, .right__Header .link__Header:hover{
    transition: 0.2s;
    text-decoration: overline;
}
.logo__Header{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}
.logo__Header img{
    width: 300px;
}