@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Secular+One&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #073C3A; 
}

::-webkit-scrollbar-thumb {
  background: #A2CF50; 
}

